{% extends 'base.html' %}


{% block content %}

<section class="py-4">
    <div class="container">

        <div class="row g-4">
            <div class="col-12">
                <!-- Card START -->
                <div class="card border">

                    <!-- Card header START -->
                    <div class="card-header border-bottom p-3">
                        <h5 class="mb-2 mb-sm-0">Followers</h5>
                    </div>
                    <!-- Card header END -->

                    <!-- Card body START -->
                    <div class="card-body p-3">
                        <!-- Table START -->
                        <div class="table-responsive border-0">
                            <table class="table align-middle p-4 mb-0 table-hover">
                                <!-- Table head -->
                                <thead class="table-dark">
                                    <tr>
                                        <th scope="col" class="border-0 rounded-start">Ism Familiya</th>
                                        <th scope="col" class="border-0">Telefon</th>
                                        <th scope="col" class="border-0">Kasb</th>
                                    </tr>
                                </thead>

                                <tbody class="border-top-0">
                                    {% for follower in user.followers.all %}
                                    <tr>

                                        <td>
                                            <div class="d-flex align-items-center position-relative">

                                                <div class="avatar avatar-md">
                                                    {% if follower.follower.avatar %}
                                                    <img src="{{ follower.follower.avatar.url }}" class="rounded-circle"
                                                        alt="">
                                                    {% else %}
                                                    <img src="https://media.istockphoto.com/id/1300845620/vector/user-icon-flat-isolated-on-white-background-user-symbol-vector-illustration.jpg?s=612x612&w=0&k=20&c=yBeyba0hUkh14_jgv1OKqIH0CCSWU_4ckRkAoy2p73o="
                                                        class="rounded-circle" alt="">
                                                    {% endif %}
                                                </div>
                                                <div class="mb-0 ms-2">
                                                    <!-- Title -->
                                                    <h6 class="mb-0">
                                                        <a href="{% url 'user:profile' follower.follower.id %}"
                                                            class="stretched-link">
                                                            {{ follower.follower.full_name }}
                                                        </a>
                                                    </h6>
                                                </div>
                                            </div>
                                        </td>

                                        <td>
                                            {{ follower.follower.phone }}
                                        </td>

                                        <td>
                                            {{ follower.follower.job }}
                                        </td>

                                    </tr>
                                    {% endfor %}
                                </tbody>
                                <!-- Table body END -->
                            </table>
                        </div>
                        <!-- Table END -->
                    </div>
                    <!-- Card body END -->
                </div>
                <!-- Card END -->
            </div>

            <div class="col-12">
                <!-- Card START -->
                <div class="card border">

                    <!-- Card header START -->
                    <div class="card-header border-bottom p-3">
                        <h5 class="mb-2 mb-sm-0">Followings</h5>
                    </div>
                    <!-- Card header END -->

                    <!-- Card body START -->
                    <div class="card-body p-3">
                        <!-- Table START -->
                        <div class="table-responsive border-0">
                            <table class="table align-middle p-4 mb-0 table-hover">
                                <!-- Table head -->
                                <thead class="table-dark">
                                    <tr>
                                        <th scope="col" class="border-0 rounded-start">Ism Familiya</th>
                                        <th scope="col" class="border-0">Telefon</th>
                                        <th scope="col" class="border-0">Kasb</th>
                                    </tr>
                                </thead>

                                <tbody class="border-top-0">
                                    {% for following in user.followings.all %}
                                    <tr>

                                        <td>
                                            <div class="d-flex align-items-center position-relative">

                                                <div class="avatar avatar-md">
                                                    {% if following.user.avatar %}
                                                    <img src="{{ following.user.avatar.url }}" class="rounded-circle"
                                                        alt="">
                                                    {% else %}
                                                    <img src="https://media.istockphoto.com/id/1300845620/vector/user-icon-flat-isolated-on-white-background-user-symbol-vector-illustration.jpg?s=612x612&w=0&k=20&c=yBeyba0hUkh14_jgv1OKqIH0CCSWU_4ckRkAoy2p73o="
                                                        class="rounded-circle" alt="">
                                                    {% endif %}
                                                </div>
                                                <div class="mb-0 ms-2">
                                                    <!-- Title -->
                                                    <h6 class="mb-0">
                                                        <a href="{% url 'user:profile' following.user.id %}"
                                                            class="stretched-link">
                                                            {{ following.user.full_name }}
                                                        </a>
                                                    </h6>
                                                </div>
                                            </div>
                                        </td>

                                        <td>
                                            {{ following.user.phone }}
                                        </td>

                                        <td>
                                            {{ following.user.job }}
                                        </td>

                                    </tr>
                                    {% endfor %}
                                </tbody>
                                <!-- Table body END -->
                            </table>
                        </div>
                        <!-- Table END -->
                    </div>
                    <!-- Card body END -->
                </div>
                <!-- Card END -->
            </div>
        </div>
    </div>
</section>

{% endblock %}